<!DOCTYPE html>
<html>
<head>
    <title>Codelian Poynt Dashboard</title>
</head>

<body>

    <h1>Codelian Poynt</h1>

    <p>
        Welcome, {{ user.email }}
    </p>


    <hr>

    <h2>Poynt</h2>

    {% if poynt_connection %}

        <p>
            Connection:
            <strong>Connected</strong>
            {{ user.email }}
        </p>

        <p>
            <a href="/poynt/catalog">
                <button type="button">
                    Load Poynt Catalog
                </button>
            </a>
        </p>
        <p>
            <a href="/poynt/orders">
                <button type="button">
                    Load Recent Orders
                </button>
            </a>
        </p>

        <p>
            <a href="/oauth/start">
                <button type="button">
                    Reconnect Poynt
                </button>
            </a>
        </p>

    {% else %}

        <p>
            Connection:
            <strong>Not connected</strong>
        </p>

        <p>
            <a href="/oauth/start">
                <button type="button">
                    Connect Poynt
                </button>
            </a>
        </p>

    {% endif %}
    <form method="post" action="/logout">
        <button type="submit">
            Log Out
        </button>
    </form>    
</body>
</html>