{% extends "base.html" %}

{% block title %}Login - Event Manager{% endblock %}

{% block content %}

<section class="section">
    <div class="container">

        <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop">

                <div class="box">

                    <h1 class="title has-text-centered">
                        Poynt
                    </h1>

                    <p class="subtitle has-text-centered">
                        Sign in to your account
                    </p>

                    {% if error %}
                        <div class="notification is-danger is-light">
                            {{ error }}
                        </div>
                    {% endif %}

                    <form method="post">

                        <div class="field">
                            <label
                                class="label"
                                for="email"
                            >
                                Email
                            </label>

                            <div class="control">
                                <input
                                    class="input"
                                    type="email"
                                    id="email"
                                    name="email"
                                    required
                                >
                            </div>
                        </div>

                        <div class="field">
                            <label
                                class="label"
                                for="password"
                            >
                                Password
                            </label>

                            <div class="control">
                                <input
                                    class="input"
                                    type="password"
                                    id="password"
                                    name="password"
                                    required
                                >
                            </div>
                        </div>

                        <div class="field mt-5">
                            <div class="control">
                                <button
                                    type="submit"
                                    class="button is-primary is-fullwidth"
                                >
                                    Log In
                                </button>
                            </div>
                        </div>

                    </form>

                    <div class="has-text-centered mt-5">
                        <p>
                            Don't have an account?
                            <a href="/register">
                                Create one
                            </a>
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}