<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
        }

        h1 {
            margin-bottom: 5px;
        }


    </style>

</head>


<body>

    <h1>{{title}}</h1>

    {% for paragraph in paragraphs %}
        <p>{{paragraph}}</p>
    {% endfor %}

    {% if show_dashboard_link %}
        <p>
            <a href="/dashboard">Return to Dashboard</a>
        </p>
    {% endif %}

</body>
</html>